<!doctype html>

<html ng-app="firstApp" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="">

    <title>My First Angular App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.css" />
    <link rel="stylesheet" href="css/main.css" />

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="main">

    <h1>My First Angular App</h1>

    <form>
      <input type="text" placeholder="Add another type?" ng-model="addBeer" />
      <input type="submit" class="" ng-click="addRow()" />
    </form>

    <table>
      <tr ng-repeat="beer in beers">
        <td>{{$index + 1}}</td>
        <td>{{beer}}</td>
        <td><div class="button small" ng-click="deleteRow(beer)">Delete</div></td>
      </tr>
    </table>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.js"></script>
    <script>
      $(document).foundation();
    </script>

    <script src="js/angular.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>